body {
    background-image: url("./../../view/images/fireBackground.jpg");
    background-repeat: no-repeat;
    object-fit: cover;
    background-attachment: fixed;  
    background-size: cover;
}

.text {
    color: #808C87;
}
.container h3 {
    padding: 0%;
    margin: 0%;
    
}

#menu a {
   color: white; 
}

#menu:hover a{
    background-color: grey;
    color: white;
}

#searchButton {
    color: white; 
}

#searchButton:hover {
    background-color: grey;
    color: white;
}

h1 {
    text-align: center;
    font-family: 'Voga', sans-serif;
    padding: 3%;        
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.filter form, label{
    color: white;
    font-family: 'Voga', sans-serif;
}
