<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="menu.css" />
    <title>Menú</title>
  </head>
  <body>
    <h1 class="title">Rest menú</h1>

    <section class="container starter">
      <h3 class="title">Entradas</h3>

      <ul class="row">
        <li class="col-12">Empanadas</li>
        <p class="description">salsa de tomate, espinaca, ricota, queso, jamón, carne molida, salsa blanca</p>
        <li class="col-12 even">Bastones de Muzzarella</li>
        <p class="description">salsa de tomate, espinaca, ricota, queso, jamón, carne molida, salsa blanca</p>
        <li class="col-12">Aros de cebolla</li>
        <p class="description">salsa de tomate, espinaca, ricota, queso, jamón, carne molida, salsa blanca</p>
        <li class="col-12 even">Papas fritas</li>
        <p class="description">salsa de tomate, espinaca, ricota, queso, jamón, carne molida, salsa blanca</p>
      </ul>
    </section>

    <section class="container mainCourser">
      <h3 class="titles">Platos principales</h3>

      <ul class="row">
        <li class="col-12">Lasagna  $700</li>
        <p class="description">salsa de tomate, espinaca, ricota, queso, jamón, carne molida, salsa blanca</p>
        <li class="col-12 even">Canelones</li>
        <p class="description">salsa de tomate, espinaca, ricota, queso, jamón, carne molida, salsa blanca</p>
        <li class="col-12">Hamburguesa</li>
        <p class="description">salsa de tomate, espinaca, ricota, queso, jamón, carne molida, salsa blanca</p>
        <li class="col-12 even">Ensalada Cesar</li>
        <p class="description">salsa de tomate, espinaca, ricota, queso, jamón, carne molida, salsa blanca</p>
        <li class="col-12">Lomo</li>
        <p class="description">salsa de tomate, espinaca, ricota, queso, jamón, carne molida, salsa blanca</p>
        <li class="col-12 even">Pizza</li>
        <p class="description">salsa de tomate, espinaca, ricota, queso, jamón, carne molida, salsa blanca</p>
      </ul>
    </section>

    <section class="container dessert">
      <h3 class="titles">Postres</h3>

      <ul class="row">
        <li class="col-12">Flan con dulce de leche</li>
        <p class="description">salsa de tomate, espinaca, ricota, queso, jamón, carne molida, salsa blanca</p>
        <li class="col-12 even">Tiramisú</li>
        <p class="description">salsa de tomate, espinaca, ricota, queso, jamón, carne molida, salsa blanca</p>
        <li class="col-12">3 leches</li>
        <p class="description">salsa de tomate, espinaca, ricota, queso, jamón, carne molida, salsa blanca</p>
        <li class="col-12 even">CheeseCake</li>
        <p class="description">salsa de tomate, espinaca, ricota, queso, jamón, carne molida, salsa blanca</p>
        <li class="col-12">Brownie</li>
        <p class="description">salsa de tomate, espinaca, ricota, queso, jamón, carne molida, salsa blanca</p>
      </ul>
    </section>
  </body>
</html>
