/* header {
    border: 1px solid red;
} */

/* .col {
    padding: 3%;
} */

body {
    background-image: url("./../images/fireBackground.jpg");
    background-repeat: no-repeat;
    object-fit: cover;
    background-attachment: fixed;  
    background-size: cover;
}

.text {
    color: #808C87;
}
.container h3 {
    padding: 0%;
    margin: 0%;
    
}

.container .promotions .col {
    padding: 3%;
}

#menu a {
   color: #808C87; 
}

#menu:hover a{
    background-color: grey;
    color: #808C87;
}

#searchButton {
    color: grey; 
}

#searchButton:hover {
    background-color: grey;
    color: white;
}

.promotions .col img {
    height: 50vh;
    width: 50vh;
    opacity: 0.9;
}

ul {
    list-style-type: none;
}
h1 {
    text-align: center;
    font-family: 'Voga', sans-serif;
    padding: 3%;        
}
