<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="./homePage.css" />
    <title>Rest</title>
  </head>
  <body>
    <!-- Header -->
    <nav class="navbar navbar-expand-lg bg-dark">
      <section class="container">
        <form
          class="d-flex"
          id="searchForm"
          role="search"
          action="./../menu/menu.html"
          method="POST"
        >
          <input
            class="form-control me-2"
            type="search"
            placeholder="Buscar"
            aria-label="Search"
            onfocus="this.value=''"
          />
          <button class="btn btn-outline-dark" id="searchButton" type="submit">
            Buscar
          </button>
        </form>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item" id="menu">
            <a class="nav-link" href="./../menu/menu.html">Menú</a>
          </li>
        </ul>
      </section>
    </nav>

    <!-- /Header -->

    <!-- TODO: add js validations and parse the inputs in a json to send that to the models -->
    <h1 class="text">REST</h1>

    <section class="container">
      <h3 class="text">FILTRAR</h3>
      <!-- onsubmit="return dataValidate"  -->
      <form class="filter" id="filterForm" action="./HomePageView.php" method="POST">
        <br />
        <label for="price">Precio mínimo</label> <br />
        <input type="number" id="price" name="price" /> <br />
        <br />
        <input type="radio" id="starter" name="type" value="starter" />
        <label for="starter">Entrada</label><br />
        <input type="radio" id="mainCourse" name="type" value="main_course" />
        <label for="mainCourse">Plato principal</label><br />
        <input type="radio" id="dessert" name="type" value="dessert" />
        <label for="dessert">Postre</label> <br />
        <input type="radio" id="sale" name="type" value="sale" />
        <label for="sale">Oferta</label> <br />
        <input type="checkbox" id="vegetarian" name="vegetarian" />
        <label for="vegetarian">Vegetariano</label> <br />

        <button type="submit">Ingresar</button>
      </form>
    </section>

    <script
    src="./homePage.js"
    ></script>
  </body>
</html>
