body {
    background-image: url("./../../view/images/pexels-matheus-natan-3394939.jpg");
    background-repeat: no-repeat;
    object-fit: cover;
    background-attachment: fixed;  
    background-size: cover;
}

label {
    background-color: gray;
}