body {
    background-image: url("./../../view/images/pexels-matheus-natan-3394939.jpg");
    background-repeat: no-repeat;
    object-fit: cover;
    background-attachment: fixed;  
    background-size: cover;
}
.navBarItem {
    color: white; 
 }
 
 .navBarItem:hover {
     background-color: grey;
     color: white;
 }

label {
    background-color: gray;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type="file"]::-webkit-file-upload-button {
    margin-left: -2px;    
    display: none;
}

input[type="file"]::file-selector-button {
    display: none;
}
